body {
  background-image: url('../img/mondrian_dress.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
#container {
	min-height: 100%;
	position: relative;
}

/* All the action is below! */
#spacer-container {
	padding-bottom: 60px;
}

#workspace {
	background-color: #ffffe0;
	width: 850px;
	margin: 0 auto;
	padding: 40px 40px;
	box-shadow: 0 0 8px black;
}

#painting {
	float: right;
	height: 500px;
	width: 700px;
	border: 1px solid #333;
}

#color-palette {
	float: left;
}

.color {
	height: 50px;
	width: 50px;
	border: 1px solid #aaa;
	margin-bottom: 20px;
	cursor: pointer;
}

#red {
	background-color: #cc0000;
}

#yellow {
	background-color: #ffec00;
}

#blue {
	background-color: #0000cc;
}

#white {
	background-color: white;
}

#black {
	background-color: black;
}


#row-1 {
	height: 100px;
	border-bottom: 10px solid black;
}
#row-2 {
	height: 170px;
	border-bottom: 10px solid black;
}
#row-3 {
	height: 80px;
	border-bottom: 10px solid black;
}
#row-4 {
	height: 150px;
}

#row-1-box-1 {
	float: left;
	width: 130px;
	height: 100px;
	border-right: 10px solid black;
	background-color: white;
}
#row-1-box-2 {
	float: left;
	width: 300px;
	height: 100px;
	border-right: 10px solid black;
	background-color: white;
}
#row-1-box-3 {
	float: left;
	width: 90px;
	height: 100px;
	border-right: 10px solid black;
	background-color: white;
}
#row-1-box-4 {
	float: right;
	width: 150px;
	height: 100px;
	background-color: white;
}

#row-2-box-1 {
	float: left;
	width: 130px;
	height: 170px;
	border-right: 10px solid black;
	border-bottom: 10px solid black;
	background-color: white;
}
#row-2-box-2 {
	float: left;
	width: 300px;
	height: 170px;
	border-right: 10px solid black;
	background-color: white;
}
#row-2-box-3 {
	float: left;
	width: 90px;
	height: 170px;
	border-right: 10px solid black;
	background-color: white;
}
#row-2-box-4 {
	float: right;
	width: 150px;
	height: 170px;
	background-color: white;
}

#row-3-box-1 {
	float: left;
	width: 130px;
	height: 80px;
	border-right: 10px solid black;
	background-color: white;
}
#row-3-box-2 {
	float: left;
	width: 300px;
	height: 80px;
	border-right: 10px solid black;
	background-color: white;
}
#row-3-box-3 {
	float: left;
	width: 90px;
	height: 80px;
	border-right: 10px solid black;
	background-color: white;
}
#row-3-box-4 {
	float: right;
	width: 150px;
	height: 80px;
	background-color: white;
}

#row-4-box-1 {
	float: left;
	width: 130px;
	height: 120px;
	border-right: 10px solid black;
	background-color: white;
}
#row-4-box-2 {
	float: left;
	width: 300px;
	height: 120px;
	border-right: 10px solid black;
	background-color: white;
}
#row-4-box-3 {
	float: left;
	width: 90px;
	height: 120px;
	border-right: 10px solid black;
	background-color: white;
}
#row-4-box-4 {
	float: right;
	width: 150px;
	height: 120px;
	background-color: white;
}

.clear {
	clear: both;
}
